@charset "UTF-8";

body {
	width: 700px;
	margin: 0px auto;
}

header div{
	text-align: right;
	font-size: 13px;
}

header h1 {
	padding: 5px;
	text-align: center;
	background-color: #969CF0;
	color: white;
	border-radius: 30px;
}

nav {
	float: left;
	width: 100px;
	height: 80vh;
	text-align: center;
	margin-right:10px;
}

nav ul{
	padding: 0px;
	
}

nav li{
	list-style: none;
	margin: 15px auto;
}

nav a{
	text-decoration: none;
}

nav input{
	width: 70px;
	color: white;
	border: 1px solid #33ccff;
	background-color: #33ccff;
	border-radius: 20px;
	padding: 10px 0px;
}
nav input:hover{
	cursor:pointer;
}

form table {
	text-align: center;
	margin: 0px auto;
}

fieldset {
	margin-bottom: 10px;
	border-color: #DACBFF;
	border-radius: 10px;
}

legend {
	font-weight: bold;
	font-size: 14px;
	color: #9163FF;
}

table {
	border-spacing: 10px 3px;
}

.addbtn {
	text-align: right;
	padding-right: 10px;
}

.addbtn2 {
	padding: 3px 15px;
	border-radius: 20px;
	border: 1px solid #969CF0;
	background-color: #969CF0;
	color: white;
}

#fmInfo {
	text-align: center;
}

form a {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #8A5EFF;
}

h2 {
font-size: 28px;
	text-align: center;
	color: #967FFF;
}